@media screen and (max-width: 1005px){
    .menu{
        display: none;
    }
    .nav-bar{
        position: relative;
    }
    .logo{
        margin: 0;
        text-align: center;
    }
    .header{
        padding-top: 50px;
    }
    .headline{
        flex:100%;
        margin: 5%;
        text-align: center;
    }
    .headline h{
        text-align: center;
    }
    .img-headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .whats{
        display: none;
    }
    .card{
        width: 100%;
        margin: 5px;
    }
}